* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 0 1.5rem;
}

.btn-mode {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-mode i {
  display: inline-block;
  margin: 0 6px;
}

.search {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  margin-left: 1rem;
}

.card {
  max-width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  border-radius: 30px;
}

.card h2 {
  max-width: 250px;
  padding: 10px;
  font-size: 20px;
}

.card p {
  font-size: 10px;
  padding: 2px;
}

.info-section {
  flex: 1;
  /* background-color: aqua; */
  padding: 25px;
}

.info-section h2 {
  font-size: 32px;
  margin-bottom: 1.8rem;
}

.back-btn-container a {
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
  display: inline-block;
}

.back-btn-container span {
  display: inline;
  margin-left: 10px;
}

.bg-dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.bg-light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.text-dark {
  color: hsl(0, 0%, 100%);
}

.text-light {
  color: hsl(200, 15%, 8%);
}

.element-dark {
  background-color: hsl(209, 23%, 22%);
}

.element-light {
  background-color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 576px) {
  .continent-grid {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  

  .wrapper {
    flex-direction: column;
  }

  .search {
    min-width: 250px !important;
  }
}

@media screen and (max-width: 768px) {
  .continent-grid {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  

  .wrapper {
    flex-direction: column;
  }

  .search {
    min-width: 250px !important;
  }
}

